<%- include('partials/header.ejs'); -%>
<body>
    <div class="container">
        <div class="rectangle" id="left"></div>
        <div class="pill">
            <div class="pill-container">
                <div class="row-container">
                    <h1><%= post.post_title %></h1>
                    <form action="/<%= post.slug %>" method="get">
                        <button type="submit">Read More</button>
                    </form>
                </div>
                <p style="white-space: pre-line;"><%= post.post_text.length > 600 ? post.post_text.substring(0, 600) + "..." : post.post_text %></p>
                <div class="row-container">
                    <p class="author-text"><%= post.user_name %></p>
                    <p class=""><%= post.formatted_date %></p>    
                </div>
            </div>
        </div>
        <div class="rectangle right" id="right"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="scripts/index.js"></script>

<%- include('partials/footer.ejs'); -%>